<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title><%- title !== 'undefined' ? title : '' %></title>
        <link href="/static/css/base.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
        <% styles.forEach(style => { %>
        <link href="<%- style.src %>" type="text/css" rel="stylesheet"/>
        <% }) %>
        <% scripts.forEach(script => { %>
        <script src="<%- script.src %>" type="text/javascript"></script>
        <% }) %>
    </head>

    <body>
        <%- include('web/_header.ejs') %>

        <% if ( pagePath ) { %>
            <section class="app-contacts-main">
                <%- include(pagePath) %>
            </section>
        <% } %>


        <%- include('web/_footer.ejs') %>
    </body>
</html>
