.app-contacts{
    &-nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    &-nav_item{
        display: block;
        padding: 10px 20px;
        font-size: 15px;
        text-decoration: none;
        color: #24a6cc;
        transition: all .1s linear;
        border-radius: 0 0 5px 5px;

        &:hover{
            text-decoration: none;
            background: lighten(#24a6cc, 5%);
            color: #fff;
        }
        
        &[state="active"]{
            color: #fff;
            background: #24a6cc;
        }
    }

    &-nav_menu{
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, .3) 50%, rgba(#000, 0) 100%);
        border-radius: 0 0 0 10px;
    }
}