.app-contacts-main{
    flex: 1 1 0;
    width: 100%;
}

.app-contacts-page{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.app-contacts-loader{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}