html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    font: 13px/1.35 'Open Sans', Helvetica, Arial, sans-serif;
    color: #333;
}

a{
    color: #24a6cc;
}