html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  position: relative;
  font: 13px/1.35 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #24a6cc; }

.app-contacts-nav {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.app-contacts-nav_item {
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #24a6cc;
  transition: all .1s linear;
  border-radius: 0 0 5px 5px; }
  .app-contacts-nav_item:hover {
    text-decoration: none;
    background: #2fb4da;
    color: #fff; }
  .app-contacts-nav_item[state="active"] {
    color: #fff;
    background: #24a6cc; }

.app-contacts-nav_menu {
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
  border-radius: 0 0 0 10px; }

.app-contacts-main {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  width: 100%; }

.app-contacts-page {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%; }

.app-contacts-loader {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.app-contacts-footer {
  padding: 20px 0;
  color: #ccc; }

/*# sourceMappingURL=base.css.map */
