<div class="app-contacts-about">
    <div class="app-contacts-about_photo" style="background-image: url(https://pp.userapi.com/c626729/v626729301/2ea91/NA7eRJ2vhM0.jpg);"></div>

    <div class="app-contacts-about_bio">
        front-end разработчик
    </div>

    <div class="app-contacts-about_email">
        <a href="mailto:tameronlan.TM@gmail.com">tameronlan.TM@gmail.com</a>
    </div>

    <div class="app-contacts-about_email">
        +7 (952) 368 4885
    </div>

    <div class="app-contacts-about_links">
        <div class="app-contacts-about_link">
            <i class="fa fa-vk"></i>
        </div>
        <div class="app-contacts-about_link">
            <i class="fa fa-linkedin"></i>
        </div>
        <div class="app-contacts-about_link">
            <i class="fa fa-facebook-f"></i>
        </div>
    </div>
</div>
