<div class="app-contacts-page">
    <div class="app-contacts-loader">
        Получение данных
    </div>
</div>

<script type="text/javascript">
    window.addEventListener('load', ()=> {
        VK.init({
            apiId: 3467614
        });
    })
</script>