<nav role="navigation" class="app-contacts-nav">
    <a href="/" class="app-contacts-nav_item" <% if ( activeTab === 'contacts' ) { %> state="active" <% } %>>Контакты</a>
    <a href="/main/about" class="app-contacts-nav_item" <% if ( activeTab === 'contacts' ) { %> state="active" <% } %>>Обо мне</a>
</nav>