.app-contacts-about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    padding: 0 24px;
    box-sizing: border-box;

    &_photo{
        max-width: 500px;
        border-radius: 50%;
        margin: 0 auto 24px;
        background: #ccc no-repeat center top;
        width: 100%;
        background-size: cover;
        box-shadow: 0 0 30px rgba(#000, .2) inset;

        &:before{
            position: relative;
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &_bio{
    }

    &_links{
        display: flex;
    }

    &_link{
        margin: 0 6px;
        font-size: 48px;
    }

    &_email{}

    &_phone{}

    &_bio,
    &_links,
    &_phone,
    &_email,
    &_links{
        margin: 0 0 24px;
    }

}